.hero {
    position: relative;
    height: 500px;
    background: url('../assets/images/hero/back.png') no-repeat center top;
    background-size: 100% auto;
    background-attachment: fixed;

    text-align: center;

    @media screen and (min-width: 1630px) {
        background-size: auto 100% ;
    }

    .hero-container {
        margin: 135px 0;
    }

    .hero-title {
        color: #000;

        font-family: $header-font;

        text-transform: uppercase;
    }

    .hero-title-l1 {
        font-size: 75px;
        color: orange;
        font-family: "Brush Script MT";
        background-image: url('../assets/images/back_title.png') ;
        opacity: 0.75;
    }


    .hero-title-l2 {
        //padding-right: 850px;
        text-align: left;
        margin-top: -23px;
        font-family: "Brush Script MT";

        font-size: 20px;
        color: orange;
    }

    .hero-title-highlight {
        color: $brand-primary;
    }

    .hero-buttons {
        margin-top: 50px;

        input {
            width: 300px;
            height: 40px;

            padding: 0 15px;

            line-height: 40px;
        }

        .btn-default {
            height: 40px;

            padding: 0 15px;
        }
    }
}

