.navbar {
    background: $body-bg;


    .nav {
        margin-top: 15px;
    }
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin-top: -17px;

    li.active a,
    a:hover {
        color: orange;
        background: #E2E2E2;
    }

    .navbar-brand-image {
        width: auto;
        background-image: none;
        height: 50px;
    }

    .icon-bar {
        background: orange;
    }
    .entete {
        color :orange;
        margin-left: 390px;
        font-family: "Edwardian Script";
        text-transform: uppercase;
    }
}
